html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif, Arial, Helvetica;
}

.center-content {
    width:100%;
    text-align: center;
    padding: 200px;
}

.navbar {
  background-color: #f3f3f3;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: #454545;
  text-align: center;
  padding: 12px 4px;
  text-decoration: none;
  font-size: 13px;
}

img {
  padding: 10px;
}

#trouble {
  text-decoration: none;
  font-size: 15px;
  color: rgb(5, 81, 181);
}

input[type="text"] {
  width: 40%;
  padding: 12px 10px;
  margin: 4px 0;
  border: 2px solid #a2a2a2; 
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="text"]:focus {
  border: 2px solid #4D90FE; 
  outline: none; 
}

hr {
  width: 40%;
  margin: 1em auto;
}

button {
  padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 40%;
    font-size: 15px;
}

#blue-button {
    background-color: rgb(5, 81, 181);
    color: white;
    
}

#grey-button {
    background-color: rgb(220, 220, 220);
    color: black;
}